@import "../utils/mixins";
@import "../utils/variables";



.heroHeader
{
    header
    {
        //  border: 1px solid;
    }
}


header
{
    .topBloc
    {
        height: 59px;
        margin: 0 0 30px 0;
        border-bottom: 1px solid rgba(30, 40, 50, 0.5);
        @include flex-positionning(space-between);
    }

    nav
    {
        @include flex-positionning(space-between);
    }
}

.topBloc
{
    .contactAndShopping, .contactAndShopping div
    {

        @include flex-positionning();
    }

    .contactAndShopping
    {
        gap: 24px;
    }
}
.contactAndShopping
{
    div
    {
        gap: 8px;
    }
}
